{% load static %}
{% load widget_tweaks %}
{% include 'snippets/head.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
      {% block web_title %}
      {{title}}
      {% endblock web_title %}
    </title>
    {% block extrahead %}{% endblock extrahead %}
    {% block stylesheet %}
      <link rel="stylesheet" type="text/css" href="{% static '/styles/styles.css' %}">
      {% endblock stylesheet %}
    {% block vendor_css %}
      <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">      
      <link href="{% static 'fonts/montserrat.css' %}" rel='stylesheet'>
    {% endblock vendor_css %}
    {% block default_fonts %}
      <style>
        body {
          font-family: 'Montserrat';
          font-size: 18px;
        }
        </style>
      {% endblock default_fonts %}

    {% block head_script %}{% endblock head_script %}
  </head>
  <body style="min-height:100vh">
    {% block no_container %}
    <div class="container-xl px-3 h-100" >
      <div class="row py-4 h-100" style="min-height:100vh;">
        <div class="d-flex flex-wrap text-center flex-fill align-content-between">
          {% block header %}
          <header class="w-100">
            {% include 'snippets/sitebanner.html' %}
          </header>
          {% endblock header %}
          <main class="flex-fill w-100">
            {% block main_container %}
              
            {% endblock main_container %}
          </main>
            
          {% block footer %}
          <footer class="w-100 d-flex mt-3 flex-wrap">
            {% include 'snippets/footer.html' %}
            </footer>
          {% endblock footer %}
          </div>
        </div>
      </div>
      {% include "snippets/bodyScript.html" %}
</body>
{% endblock no_container %}
    {% block vendor_script %}
      <script src="{% static 'vendor/jquery/jquery-3.6.0.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
    {% endblock vendor_script%}
    {% block add_vendor %}
      <script src="{% static 'script/scripts.js' %}"></script> 
    {% endblock add_vendor %}
    {% block user_script %}{% endblock user_script %}
    {% block wysiwyg_script %}
      <script src="{% static 'vendor/quill/quill.min.js' %}"></script>
    {% endblock wysiwyg_script %}
