{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    
    {% block web_title %}
    Dashboard Administrasi Tes
    {% endblock web_title %}
    
  </title>
  <!-- plugins:css -->
  
  {% block extra_head %}
  {% endblock extra_head %}
  
  {% block wysiwyg_dependencies %}
    
  {% endblock wysiwyg_dependencies %}
      
  <link rel="stylesheet" href="{% static 'vendor/royal-ui/vendors/base/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.min.css' %}">  
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'vendor/royal-ui/css/style.css' %}">
  <script src="{% static 'vendor/royal-ui/vendors/base/vendor.bundle.base.js' %}"></script>

  {% include 'snippets/fonts.html' %}
   
  {% block default_fonts %}
      <style>
        body {
          font-family: 'Montserrat'!important;
          font-size: 18px;
        }
        </style>
      {% endblock default_fonts %}
</head>
<body>
  <div class="container-scroller">
    <!-- partial:navbar.html -->
    {% include 'CreateTest/snippets/navbar.html' %}
    <div class="container-fluid page-body-wrapper">
      <!-- partial:sidebar.html -->
      {% include 'CreateTest/snippets/sidebar.html' %}
    
      <div class="main-panel">
        <main class="content-wrapper">
           
          {% block main_container %}
          
          {% endblock main_container %}
          
        </main> 
          <footer class="content-wrapper w-100 d-flex px-5 py-3 flex-wrap justify-content-between" style="max-height:100px">
            {% include 'snippets/footer.html' %}
           <div class="w-100 mt-2 text-center">
            <span class="d-block mt-1 text-muted"> Free Bootstrap dashboard templates from Bootstrapdash.com</span>
          </div>
        </footer>
      </div>
      <!-- main-panel ends -->
    </div>
        <!-- partial:partials/_footer.html -->
        <!-- partial -->
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{% static 'vendor/royal-ui/vendors/chart.js/Chart.min.js' %}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'vendor/royal-ui/js/off-canvas.js' %}"></script>
  <script src="{% static 'vendor/royal-ui/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'vendor/royal-ui/js/template.js' %}"></script>
  <script src="{% static 'vendor/royal-ui/js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'vendor/royal-ui/js/dashboard.js' %}"></script>
  <!-- End custom js for this page-->
  
  {% block wysiwyg_script %}
    
  {% endblock wysiwyg_script %}
    
  {% block user_script %}
    
  {% endblock user_script %}
    
</body>

</html>

