<div class="modal fade " id="ModalChoiceEditor" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" style="min-width: 80vw;" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <div id="choice_editor"></div>
                <input type="text" hidden name="choice_input" id="choice_input">

            </div>
            <div class="modal-footer justify-content-between">
              <div class="left">
                <button type="button" id="setAnswerKeyButton" class="btn btn-sm btn-primary">Jadikan Jawaban Benar</button>

              </div>
              <div class="right">
                <button type="button" id="deleteButton" class="btn btn-sm btn-danger">Hapus</button>
                <button type="button" id="savebutton" class="btn btn-sm btn-success">Simpan</button>
              </div>
            </div>
          </div>
        </div>
      </div>






                            
