/* slabo-13px-regular - latin */
@font-face {
  font-family: "Slabo 13px";
  font-style: normal;
  font-weight: 400;
  src: url("slabo-13px-v8-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("slabo-13px-v8-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("slabo-13px-v8-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("slabo-13px-v8-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("slabo-13px-v8-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("slabo-13px-v8-latin-regular.svg#Slabo13px")
      format("svg"); /* Legacy iOS */
}
