{% extends 'snippets/base.html' %} 
{% load widget_tweaks %} 
{% block main_container %}
  <h2 class="my-1"><strong>IDENTITAS DAN AUTENTIKASI</strong></h2>
      <form class="mx-1" method="POST">
        {% csrf_token %}
        <div class="form-group text-left mx-1 flex-fill">
          <label class="text-large" for="id_testTakerName">Nama Peserta Tes</label>
          {{form.testTakerName |add_class:"form-control" |attr:"placeholder: Masukan Nama Anda"}}
        </div>
        <div class="form-group text-left mx-1 flex-fill">
          <label class="text-large" for=":id_testTakerGroup">Kelas / Kelompok </label>
          {{form.testTakerGroup |add_class:"form-control" |attr:"placeholder: Masukan Nama Kelas / Kelompok Anda"}}
        </div>
        <div class="form-group text-left mx-1 flex-fill">
          <label class="text-large" for="id_session_password">Kunci Sesi / Password </label>
          {{form.session_password |add_class:"form-control" |attr:"placeholder: Buatlah Password yang mudah diingat"}}
          <div class="custom-control custom-checkbox my-1 mx-2 block flex-fill text-left w-100">
            <input type="checkbox" class="custom-control-input" id="show-hide-password" onClick="showHidePassword('id_session_password')">
            <label class="custom-control-label" for="show-hide-password">
              Tampilkan Password
            </label>
          </div>
          <small class="form-text text-muted"
            >Buatlah Sebuah Password. Ini akan digunakan untuk melanjutkan tes
            jika terjadi galat.
            <strong
              >Catatlah bersama Kode Sesi yang akan diberikan dihalaman
              selanjutnya</strong
            ></small
          >

          <p class="text-capitalize text-muted text-center h6">
            Sudah mulai mengerjakan? <br /><a href="{% url 'test:resume' %}"
              >Lanjutkan dengan kunci sesi yang anda miliki disini</a
            >
          </p>
        </div>

        <button type="submit" class="btn-block flex-fill btn btn-success">
          Lanjut &raquo;
        </button>
      </form>
{% endblock main_container %}