{% extends 'snippets/base.html' %}
{% load widget_tweaks %}
{% block web_title %}
Masukan Kode Tes
{% endblock web_title %}
           
{% block main_container %}
    <nav class="justify-content-between d-flex mb-2">
      <a href="{% url 'homepage' %}" class="py-1 btn btn-outline-success">&laquo; Kembali</a>
    </nav>
    <h2 class="pb-2 text-center my-auto  flex-fill font-weight-bold">Masukan Kode Tes Yang Akan Anda Ikuti</h2>
    {% if form.errors.testCode %}
    <div class="alert alert-danger mt-2 alert-dismissible fade show pb-0" role="alert">
      <p>Tes dengan kode tersebut tidak ditemukan</p>
      </div>
  {% endif %}
    <form method="POST" class="d-flex mt-1 mb-2 flex-wrap">
        {% csrf_token %}
        {{form.testCode|attr:"placeholder:Masukan Kode"|attr:"pattern:\d*" |attr:"maxlength:6" |add_class:"form-control form-control-lg col-sm-9"}}
        <button class="btn btn-success mt-1 my-sm-0 col-sm-3 text-nowrap" type="submit">Masuk</button>
      </form>
    <p class="text-capitalize text-muted text-center h6">Sudah mulai mengerjakan?  <br><a href="{% url 'test:resume' %}">Lanjutkan dengan kunci sesi yang anda miliki disini</a> </p>
{% endblock main_container %}
  
              
            


