{% extends 'snippets/base.html' %}
{% load widget_tweaks %}
{% block web_title %}
INFORMASI TES
{% endblock web_title %}
{% block main_container %}
  <h2 class="m-1"><strong>INFORMASI TES</strong></h2>
  {% include 'Test/snippets/testInfoDetail.html' %}
  {% if q_testPackage.testScheduleClose > timeNow or q_testPackage.testScheduleClose == None %}
    {% if q_testPackage.get_question_count == '0' %}
          <p class="m-auto h5 strong text-center">Test ini belum memiliki Soal</p>
    {% else %}
      {% if form.errors.password %}
              <div class="alert alert-danger mt-2  fade show pb-0" role="alert">
                  <p> Password mungkin salah</p>
              </div>
      {% endif %}
      <form method="POST" class="row m-1 ">
          {% csrf_token %}
          {{form.password|attr:"placeholder:Masukan Password Tes" |add_class:"form-control form-control-lg"}}
          <div class="custom-control custom-checkbox my-1 mx-2 block flex-fill text-left w-100">
            <input type="checkbox" class="custom-control-input" id="show-hide-password" onClick="showHidePassword('id_password')">
            <label class="custom-control-label" for="show-hide-password">
              Tampilkan Password
            </label>
          </div>
          <button class="btn btn-success mt-1 my-sm-0 flex-fill text-nowrap" type="submit">Lanjut</button>
        </form>   
    {% endif %}
  {% else %}
    <p class="m-auto h5 strong text-center">Test ini sudah Berakhir dan ditutup</p>
  {% endif %}
{% endblock main_container %}

