{% extends 'snippets/base.html' %}
{% load static %}
        
        {% block main_container %}
        <h2 class="m-1 text-uppercase"><strong>{{title}}</strong></h2>
        
        <div class="card-body ql-container ql-snow border rounded mb-2">
        {% if now < quest.testScheduleOpen%}
                <h1 class="text-center font-weight-bold">TES BELUM DIMULAI</h1>
                <h4 class="text-center font-weight-bold">Akan dimulai pada : {{quest.testScheduleOpen |date:"l, j F Y H:i:s T"}}</h4>
                <br><br>


                <h1 style="font-size: 4em;" class="time text-center font-weight-bold"></h1>
                <script>
                (function(){

                    setInterval(() => { 
                        now = (Date.parse(new Date) / 1000)    
                        makeTimer({{quest.testScheduleOpen |date:"U"}},now,'.time',() =>  { location.reload()})
                    },1000)

                }
                )()        
                </script>
                {% else %}
                <div class="remove-all-styles ql-editor">{{welcomeMessage |safe }}</div>
        </div>
        
        <form method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-success btn-block" value="Kerjakan &raquo;">
        </form>
        {% endif %}
        {% endblock main_container%}
          
