{% extends 'snippets/base.html' %} 
{% load widget_tweaks %} 

{% block main_container %}
  <h2 class="pb-2 text-center my-auto align-items-center flex-fill font-weight-bold">
    Masuk ke Dashboard Administrasi Test
  </h2>
  <form method="post" class="text-left">
    {% csrf_token %}
    {% if form.errors.password %}
        <div class="alert alert-danger mt-2 alert-dismissible fade show pb-0" role="alert">
        <p> Verifikasi Gagal, Password Admin mungkin salah</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </div>
    {% endif %}
    {% if form.errors.username %}
        <div class="alert alert-danger mt-2 alert-dismissible fade show pb-0" role="alert">
        <p> Kode Test Tidak ditemukan</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </div>
    {% endif %}
    <label for="session_key">Kode Test</label>
    {{form.username|attr:"pattern:\d*" |attr:"maxlength:6"|add_class:"form-control"}}
    <label for="password">Password Administrasi Tes</label>
    {{form.password}}
    <p class="text-muted text-center h6">
        Belum memiliki akun Administrasi Tes?<br />
        <a href="{% url 'test:resume' %}">Buat Tes Disini</a>
      </p>
    
  
    <button type="submit" class="btn-block flex-fill btn btn-success">
      Lanjut &raquo;
    </button>
  </form>
  
{% endblock main_container%}