{% extends 'snippets/base.html' %} 
{% load widget_tweaks %} 

{% block main_container %}
<nav class="justify-content-between d-flex mb-2">
      <a href="{% url 'create:firstPage' %}" class="py-1 btn btn-outline-success">&laquo; Kembali</a>
    </nav>
  <h2 class="pb-2 text-center my-auto align-items-center flex-fill font-weight-bold">
    Masuk ke Dashboard Administrasi Test
  </h2>
  <form method="post" class="text-left">
    {% csrf_token %}
    {% if form.errors.password %}
        <div class="alert alert-danger mt-2 alert-dismissible fade show pb-0" role="alert">
        <p> Verifikasi Gagal, Password Admin mungkin salah</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </div>
    {% endif %}
    {% if form.errors.username %}
        <div class="alert alert-danger mt-2 alert-dismissible fade show pb-0" role="alert">
        <p> Kode Test Tidak ditemukan</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </div>
    {% endif %}
    <label for="session_key">Kode Test</label>
    {{form.username|attr:"pattern:\d*" |attr:"maxlength:6"|add_class:"form-control"}}
    <label for="password">Password Administrasi Tes</label>
    {{form.password}}
    <div class="custom-control custom-checkbox my-1 mx-2 block flex-fill text-left w-100">
            <input type="checkbox" class="custom-control-input" id="show-hide-password" onClick="showHidePassword('id_password')">
            <label class="custom-control-label" for="show-hide-password">
              Tampilkan Password
            </label>
          </div>
    <p class="text-muted text-center h6">
        Belum memiliki akun Administrasi Tes?<br />
        <a href="{% url 'create:newTest' %}">Buat Tes Disini</a>
      </p>
    
  
    <button type="submit" class="btn-block flex-fill btn btn-success">
      Lanjut &raquo;
    </button>
  </form>
  
{% endblock main_container%}