{% extends 'CreateTest/snippets/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block nav_brand %}
    Daftar Peserta
    {% endblock nav_brand %}
    
    {% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script></script>
<link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    {% endblock extra_head %}
      
    {% block main_container %}
    
    {% if form.errors %}
    <div class="alert alert-danger">
      {% if form.session_code.errors %}
      <li>Kode Sesi tidak dapat digunakan</li>
      {% endif %}
    </div>
    {% endif %}
      
    <div class="d-flex flex-row">
        <a href="#" class="btn btn-lg btn-block p-2 m-1 btn-outline-success"data-toggle="modal" data-target=".addTestTakerModal">Tambahkan Peserta</a>
        </div>
    
    {% if object_list == None %}
    Tidak Ada Peserta Terdaftar
    {% else %}
    <div id="table"></div>

    <script>
      new gridjs.Grid({
        columns: ["Kode Sesi", "Nama Peserta", "Kelas / Grup","Skor"],
        server: {
          url: '{% url 'create:testTakerList' %}?api=true',
          then: res => res["data"],
          total : res => res["total"]
        },
        pagination: {
          enabled: true,
          limit: 10,
          server: {
            url: (prev, page) => `${prev}&page=${page+1}`
          },

        },
        search: {
          server: {
            url: (prev, keyword) => `${prev}&search=${keyword}`
          }
        },
        sort: {
          multiColumn: false,
          server: {
            url: (prev, columns) => {
            if (!columns.length) return prev;
            
            const col = columns[0];
            const dir = col.direction === 1 ? 'asc' : 'desc';
            let colName = ['session_code','testTakerName','testTakerGroup','scoreObtained'][col.index];
            console.log(`${prev}&order=${col.direction === 1 ? '' : '-'}${colName}`)
            return `${prev}&order=${col.direction === 1 ? '' : '-'}${colName}`;
          }
        }
        },
        className: {
          table: 'w-100',
          search : 'w-100'
        }
      }).render(document.getElementById("table"));
      document.querySelector('.gridjs-search-input').placeholder = 'Cari Peserta'
    </script>
        {% comment %} <table class="table table-striped"  id="myTable">
        <thead>
            <tr>
                <th scope="col">NO</th>
                <th scope="col" class="d-none d-md-table-cell">Kode Sesi</th>
                <th scope="col">Nama Peserta</th>
                <th scope="col" class="d-none d-lg-table-cell">Waktu Mulai</th>
                
                {% if timeLimit == 0 %}
                <th scope="col" class="d-none">Waktu Tersisa</th>
                {% else %}
                <th scope="col" class="d-none d-md-table-cell">Waktu Tersisa</th>

                {% endif %}
                    
                <th scope="col">Skor</th>
              </tr>
        </thead>
        <tbody class="panel">
            {% for i in object_list %}
            <tr data-toggle="collapse" data-target="#detail{{forloop.counter}}" data-parent="#myTable">
                <td>{{forloop.counter}}</td>
                <td class="d-none d-md-table-cell">{{i.session_code}}</td>
                <td>{{i.testTakerName}}</td>
                <td class="d-none d-lg-table-cell">{{i.timeStart | date:"d-m-Y H:i:s"}}</td>
                
                {% if timeLimit == 0 %}
                <td class="d-none d-md-table-cell text-nowrap timer{{i.session_code}}">-- : -- : --</td>
                {% elif i.isFinish%}
                <td class="d-none d-md-table-cell text-nowrap timer{{i.session_code}}">Selesai</td>
                {% else %}
                <td class="d-none d-md-table-cell text-nowrap timer{{i.session_code}}">--:--:--</td>
                {% endif %}
                
                <td class="text-success">{{i.scoreObtained}}</td>
            </tr>
            <tr id="detail{{forloop.counter}}" class="table-light collapse">
                <td colspan="6" class="hiddenRow">
                    
                    <div class="notice notice-info list-group-flush">
                        <li class="list-group-item py-1"><div class="row">
                            <div class="col-md-3 pl-2 my-auto"><div class="card-title text-muted my-auto h6 text-uppercase">Kode Sesi</div></div>
                            <div class="col-md-9 pl-2"><div class="card-text my-auto">{{i.session_code}}</div></div>
                        </div></li>
                        <li class="list-group-item py-1"><div class="row">
                            <div class="col-md-3 pl-2 my-auto"><div class="card-title text-muted my-auto h6 text-uppercase">Nama Peserta</div></div>
                            <div class="col-md-9 pl-2"><div class="card-text my-auto">{{i.testTakerName}}</div></div>
                        </div></li>
                        <li class="list-group-item py-1"><div class="row">
                            <div class="col-md-3 pl-2 my-auto"><div class="card-title text-muted my-auto h6 text-uppercase">Kelas / Grup</div></div>
                            <div class="col-md-9 pl-2"><div class="card-text my-auto">{{i.testTakerGroup}}</div></div>
                        </div></li>
                        <li class="list-group-item py-1"><div class="row">
                            <div class="col-md-3 pl-2 my-auto"><div class="card-title text-muted my-auto h6 text-uppercase">Kunci Sesi</div></div>
                            <div class="col-md-9 pl-2"><div class="card-text my-auto">{{i.session_password}}</div></div>
                        </div></li>
                        <li class="list-group-item py-1"><div class="row">
                            <div class="col-md-3 pl-2 my-auto"><div class="card-title text-muted my-auto h6 text-uppercase">Skor</div></div>
                            <div class="col-md-9 pl-2"><div class="card-text my-auto">{{i.scoreObtained}}</div></div>
                        </div></li>
                        <li class="list-group-item py-1"><div class="row">
                            <div class="col-md-3 pl-2 my-auto"><div class="card-title text-muted my-auto h6 text-uppercase">Waktu Mulai</div></div>
                            <div class="col-md-9 pl-2"><div class="card-text my-auto">{{i.timeStart | date:"l, d F Y H:i:s e"}}</div></div>
                        </div></li>
                        <li class="list-group-item py-1"><div class="row">
                                <div class="col-md-3 pl-2 my-auto"><div class="card-title text-muted my-auto h6 text-uppercase">Waktu Selesai</div></div>
                                <div class="col-md-9 pl-2"><div class="card-text my-auto">{{i.timeFinish| date:"l, d F Y H:i:s e"}}</div></div>
                            </div></li>
                        <li class="list-group-item py-1"><div class="row">
                            <div class="col-md-3 pl-2 my-auto"><div class="card-title text-muted my-auto h6 text-uppercase">Waktu Tersisa</div></div>
                            {% if i.isFinish %}
                            <div class="col-md-9 pl-2"><div class="card-text my-auto ">Selesai</div></div>
                            {% else %}
                            
                            <div class="col-md-9 pl-2"><div class="card-text my-auto timer{{i.session_code}}">-- : -- : --</div></div>
                            </div></li>
                            
                                 {% if i.timeStart %}
                                    
                                    <script src="{% static 'script/timer.js' %}"></script>
                                    <script>
                                        timer{{i.session_code}} = new Timer({{i.timeStart | date:"U"}},{{timeLimit}},'.timer{{i.session_code}}')
                                        timer{{i.session_code}}.tick()
                                            </script>   
                                {% endif %}
                        {%endif%}
                            
                        <li class="list-group-item py-1"><div class="row">
                            <div class="col-6 p-1">
                            <form action="{% url 'create:testTakerDelete' i.testTakerID %}" method="post">
                            {% csrf_token %}
                                <button class="mx-1 btn btn-sm btn-block btn-danger" type="submit">Hapus</a>
                            
                            </form>
                
                            </div>
                           <div class="col-6 p-1">
                                <a href="{% url 'create:takerDetail' i.testTakerID%}" class="mx-1 btn btn-block btn-primary">DETAIL</a>
                
                            </div> 
                                         
                        </div></li> 
                    </div>
                </td>
            </tr><tr></tr>
            {%endfor%}
        </tbody>
    </table> {% endcomment %}
    <br><br>
    {% endif %}
    <div class="modal fade addTestTakerModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tambahkan Peserta Manual</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                  <div class="form-group">
                      <label for="{{form.session_code.id_for_label}}">Kode Sesi</label>
                      {{form.session_code |attr:"pattern:\d*" |attr:"maxlength:10"|add_class:"form-control form-control-sm "}}
                    </div>
                  <div class="form-group">
                    <label for="{{form.testTakerName.id_for_label}}">Nama Peserta Tes</label>
                    {{form.testTakerName |add_class:"form-control form-control-sm"}}
                    </div>
                  <div class="form-group">
                    <label for="{{form.testTakerGroup.id_for_label}}">Kelas / Kelompok </label>
                    {{form.testTakerGroup |add_class:"form-control form-control-sm"}}
                    </div>
                  <div class="form-group">
                    <label for="{{form.session_password.id_for_label}}">Kunci Sesi / Password </label>
                    {{form.session_password |add_class:"form-control form-control-sm"}}
                    </div>
                <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </div>
      </div>
{% endblock main_container %}

{% block user_script %}
<script>
let ab = document.querySelector('input[name="autoRefreshOptions"]')
console.log(ab.value)
var queryDict = {}
location.search.substr(1).split("&").forEach(function(item) {queryDict[item.split("=")[0]] = item.split("=")[1]})
console.log(location.href)
function autoRefresh(delay) {
    
    if (delay != 0 && delay != undefined){
        let a = queryDict.autoRefresh;
        (["0","3","5","10","15"].includes(queryDict.autoRefresh)) ? a=a :a = 0
        document.getElementById(`autoRefreshOptions${a}`).checked = true;
        ref = setInterval(() =>{location = location.href   
        }
        ,delay*1000)
        
        }else if(delay == 0){
            document.getElementById(`autoRefreshOptions${delay}`).checked = true;
        }
        
        ; } 
    autoRefresh(queryDict.autoRefresh);

    $(document).ready(function() {
        $('input[type=radio][name="autoRefreshOptions"]').on('change', function() {
            console.log(queryDict.autoRefresh)
            if (queryDict.autoRefresh == undefined){
            console.log('autoRefresh undefined')
            if (location.search == ""){
                location = location.origin + location.pathname + "?autoRefresh=" + this.value;
            }else{
                console.log('search+')
                location = location.origin + location.pathname + location.search + "&autoRefresh=" + this.value;
            }
            clearInterval(ref)
            autoRefresh(queryDict.autoRefresh)

        }else{
            
            location = location.origin + location.pathname + location.search.replace(`autoRefresh=${queryDict.autoRefresh}`,`autoRefresh=${this.value}`)
            
            clearInterval(ref)
            // autoRefresh(queryDict.autoRefresh)
        };
});
});
</script>
{% endblock user_script %}
    
    