{% extends 'CreateTest/snippets/base.html' %}
  {% load static %}
 {% load widget_tweaks %}
{% block wysiwyg_dependencies %}
{% include 'snippets/wysiwyg_dependencies.html' %}
{% endblock wysiwyg_dependencies %}
{% block main_container %}
<form method="post">
{% csrf_token %}
<div id="editor_welcomeMessage">
{{welcomeMessage|safe}}
</div>
{{form.welcomeMessage |attr:"hidden:hidden"}}
<div id="editor"></div>
<button type="submit" class="my-2 btn btn-success btn-sm btn-block"><i class="bi bi-save mr-2"></i>Simpan</button>
</form>
{% endblock main_container %}
{% block wysiwyg_script %}
<script>
  let Font = Quill.import('formats/font');
  Font.whitelist = ['mono', 'roboto','sofia','slabo']
  Quill.register(Font, true);
    var quill = new QuillWrapper('editor_welcomeMessage',"id_welcomeMessage",quillConfiguration);
    </script>
{% endblock wysiwyg_script %}

